body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.display {
    font-size: 2em;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #ddd;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 1.5em;
    padding: 15px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

button.operator {
    background-color: rgb(210, 166, 5);
    color: #fff;
}

button.double {
    grid-column: span 2;
}

button.double.operator {
    background-color: orange;
}

button:active {
    background-color: #ccc;
}