@charset "utf-8";
.container{
    display: -webkit-flex;
    display: flex;
    -webkit-flew-flow:row wrap;
    flex-flow: row-reverse;
}
.columna1, .columna2, .columna3{
    width: 100%;
}
@media (min-width:600px){
    .columna1{
        width: 60px;
        -webkit-order:2;
        order:2;
    }
    .columna2{
        width: 40px;
        -webkit-order:1;
        order:1;
    }

}
@media(min-width:880px){
    .columna2 .columna3{
        width: 20%;
    }

}